<div class="row">
	<div class="span1 offset1">
		<%= render :partial => "shared/profile_image", :locals => { :border => "white-border" } %>
	</div>

	<div class="span8 answer-bubble q-a-bubble">
		<div class="answer-user user-info">
			<%= answer.user.email %>
			<span class="level">User level</span>
			<i class="pull-right created-at"><%= distance_of_time_in_words answer.created_at, Time.now %> geleden</i>
		</div>

		<div class="answer q-a-description">
			<%= answer.description %>
		</div>

		<% if user_signed_in? %>
			<div class="actions q-a-options" data-id="<%= answer.id %>">
				<div class="like pull-left" <% unless current_user.flagged?(answer, :like) %>data-clickable="true"<% end %> >
					<%= image_tag(get_like_image(answer), :alt => "Thumbs up", :width => "15", :height => "15")%>

					<% likes = answer.flaggings.with_flag(:like).count %>
					<%= pluralize(likes, 'Duimpje') %>
				</div>

				<% if current_user == answer.user %>
					<div class="best-answer pull-left">
						<%= image_tag("best_answer.png", :alt => "Best answer", :width => "15", :height => "15")%>
						Beste antwoord
					</div>
				<% end %>

				<div class="comment pull-right" data-hoverable="true">
					<%= image_tag("comment_icon.png", :alt => "Comment", :width => "20", :height => "20")%>
				</div>
				<div class="flag pull-right">
					<%= image_tag("flag_icon.png", :alt => "Flag", :width => "20", :height => "20")%>
				</div>
				<div class="clearfix"></div>
			</div>
		<% end %>
	</div>
	<div class="clearfix"></div>
	<div class="comments">
		<% answer.comments.each do |c| %>
			<div class="span7 offset3 comment-bubble q-a-bubble">
				<div class="comment-user user-info">
					<%= c.user.email %>
					<span class="level">User level</span>
					<i class="pull-right created-at"><%= distance_of_time_in_words c.created_at, Time.now %> geleden</i>
				</div>
				
				<div class="comment q-a-description">
					<%= c.description %>
				</div>

				<% if user_signed_in? %>
					<div class="actions q-a-options" data-id="<%= answer.id %>">
						<div class="like pull-left" <% unless current_user.flagged?(c, :like) %>data-clickable="true"<% end %> >
							<%= image_tag(get_like_image(c), :alt => "Thumbs up", :width => "15", :height => "15")%>

							<% likes = c.flaggings.with_flag(:like).count %>
							<%= pluralize(likes, 'Duimpje') %>
						</div>
						<div class="flag pull-right">
							<%= image_tag("flag_icon.png", :alt => "Flag", :width => "20", :height => "20")%>
						</div>
						<div class="clearfix"></div>
					</div>
				<% end %>
			</div>
			<div class="span1 comment-user-profile">
				<%= render :partial => "shared/profile_image", :locals => { :border => "white-border" } %>
			</div>
		<% end %>
	</div>
</div>