<div class="span1">
	<%= render :partial => "shared/profile_image", :locals => { :border => "#{level.downcase}-border", :username => question.user.email } %>
</div>
<div class="span10 question-info q-a-bubble">
  <div class="question-user user-info">
    <%= question.user.email %>
    <span class="level <%= level.downcase %>-level">
      <%= level %>
    </span>
    <span class="pull-right created-at">
      <i>
        <%= distance_of_time_in_words question.created_at, Time.now %> geleden
      </i>
      geplaatst in 
      <b>
        <% question.categories.each_with_index do |c, i| %>
          <%= c.title %><% if i+1 != question.categories.length %>, <% end %>
        <% end %>
      </b>
    </span>
  </div>
	
  <div class="question-title q-a-description">
    &#8220; <%= link_to question.title, question %> &#8221;
  </div>

  <div class="q-a-options">
    <section class="span5 favorite">
      <%= image_tag("favorite.png", :alt => "Favorite", :width => 20, :height => 20 ) %>
      <span class="amt">5 Volgers</span>
    </section>

    <section class="span5 comment pull-right">
      <%= image_tag("comment.png", :alt => "Comment", :width => 20, :height => 20 ) %>
      <span class="amt"><%= pluralize(question.answers.count, "Reactie") %></span>
    </section>
  </div>
</div>