<header>
	<div class="navigation">
		<div class="container">
			<nav class="row">
				<div class="span2 logo">
					<%= link_to(image_tag("butzi_logo.png", :alt => "Butzi", :width => 75), root_path) %>
				</div>
				
				<ul class="span3 nav-items">
					<li><a class="nav-item" href="#">Vragen</a></li>
					<li><a class="nav-item" href="#">Bedrijven</a></li>
				</ul>

				<form class="span6 search-bar" method="post">
					<input type="search" class="nav-search" name="search" />
					<i><%= image_tag("search-icon.png", :title => "Zoek icoontje", :alt => "Vergrootglas", :width => 20, :height => 20) %></i>

				</form>

				<% if user_signed_in? %>
					<div class="span1 btn-group">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<%= image_tag(defined?(current_user.profile_image) ? current_user.profile_image : "anonymous.png", :alt => "box", :width => 26, :class => "profile-img") %>
						</a>
						<div class="dropdown-menu profile-dropdown logged-in span4">
							<header class="form-header">
				 				<div class="progress-bar-container">
					 				<span class="level"><%= user_level(current_user.level) %></span>
	      					<div class="progress progress-striped active">  
	      						<% style = "width: " + level_progression(current_user.level, current_user.points).to_s + "%" %>
									  <div class="bar" style='<%= style %>'></div>  
									</div>  
									<span class="level"><%= next_level(current_user.level) %></span>
									<div id="clearfix"></div>

									<div class="rank-information">
										<header><h2><%= level_progression(current_user.level, current_user.points) %>%</h2></header>
										<section class="extra">
											<p><%= user_level(current_user.level).capitalize %></p>
											<span class="points"><%= current_user.points %> punten in totaal</span>
										</section>
										<div id="clearfix"></div>
									</div>

								</div>
								
							</header>
							<footer class="form-footer">
								<figure class="box-link">
									<%= link_to(image_tag("profile.png", :alt => "profiel", :width => 20, :height => 20), destroy_user_session_path) %>
									<figcaption><%= link_to "Profiel", destroy_user_session_path, :method => :delete %></figcaption>
								</figure>

								<figure class="box-link">
									<%= link_to(image_tag("settings.png", :alt => "Instellingen", :width => 20, :height => 20), destroy_user_session_path) %>
									<figcaption><%= link_to "Instellingen", destroy_user_session_path, :method => :delete %></figcaption>
								</figure>

								<figure class="box-link">
									<%= link_to(image_tag("logout.png", :alt => "Log uit", :width => 20, :height => 20), destroy_user_session_path) %>
									<figcaption><%= link_to "Uitloggen", destroy_user_session_path, :method => :delete %></figcaption>
								</figure>

							</footer>
						</div>
					</div>
				<% else %>
					<div class="span1 login">
						<div class="login-container">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								Log in	
							</a>
							<div class="dropdown-menu profile-dropdown span4">
								<%= form_for User.new, :url => new_user_session_path do |f| %>
									<header class="form-header">
										<div class="row"><%= f.email_field :email, :placeholder => "Username / Bedrijfsnaam", :class => "login-form-input" %></div>
										<div class="row"><%= f.password_field :password, :placeholder => "Wachtwoord", :class => "login-form-input" %></div>
									</header>
									<footer class="form-footer">
										<%= link_to "Wachtwoord vergeten?", new_user_password_path, :class => "login-form-forgot-password" %>
										<%= f.submit "Log in", :class => 'login-form-button' %>
									</footer>
									<% end %>
								<div id="clearfix"></div>
							</div>
						</div>
					</div>
				<% end %>
			</nav>
		</div>
	</div>
</header>