<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Porsche 911 Targa Community | Mobiel Erfgoed Centrum</title>
  <meta name="description" content="Website voor de commmunity van de Porsche 911 in opdracht van het Mobiel Erfgoed Centrum">
  <meta name="author" content="Jeroen Rietveld and Wesley Smits">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="publisher" href="#"/>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %> 
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <script type="text/javascript">
      setTimeout(function(){var a=document.createElement("script");
      var b=document.getElementsByTagName("script")[0];
      a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/6427.js?"+Math.floor(new Date().getTime()/3600000);
      a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>
  </body>
</html>